{% extends "student/main.html" %}
{% load static %}
{% block content %}
<table border="1">

    <tr>
        <!-- <h1>Student Details</h1> -->
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>College</th>
        <th>Branch</th>
        <th>Age</th>
        <th>Mobile Number</th>
        <th>Gender</th>
        <th>Course</th>
        <th>Address</th>
    </tr>

    {% for Student in students %}
    <tr>
        <td>{{ Student.full_name }}</td>
        <td>{{ Student.username }}</td>
        <td>{{ Student.email }}</td>
        <td>{{ Student.password }}</td>
        <td>{{ Student.college }}</td>
        <td>{{ Student.branch }}</td>
        <td>{{ Student.age }}</td>
        <td>{{ Student.mobile_number }}</td>
        <td><a href="{% url 'update' Student.id %}">Update</a></td>
        <td><a href="{% url 'delete' Student.id %}">Delete</a></td>
    </tr>
    {% endfor %}

    {% endblock %}